<!-- name: fitnesstracker/templates/fitnesstracker/fitnesstracker_create.html
purpose: Frontend for picture creation
date: 6/3/19
authors: Benjamin Woodatch, Brady Whildin -->

{% extends 'base_layouts.html' %}
{% block content %}

<ul>
  <li><a href="{% url 'homepage' %}">Home</a></li>
  <li><a href="{% url 'articles:list' %}">Articles</a></li>
  <li><a href="{% url 'fitnesspics:data' %}" class="active">Pictures</a></li>
  <li style="float:right">
      {% if user.is_authenticated %}
          <form action="{% url 'accounts:logout' %}" method = 'post'>
              {% csrf_token %}  <!-- security measure to prevent outside source from sending/taking data -->
              <button class='logoutButton' type="submit">Logout</button>
          </form>
      {% else %}
          <a href="{% url 'logInCreateAccount' %}">Log In/Create Account</a>
      {% endif %}
  </li>
</ul>

<head>
    <meta charset="UTF-8">
    <title>Add Picture</title>
    <style>
        body {
                background-image: url(/static/HomeBackground.jpg);
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-position: 50% 5%;
                background-color: #e3e6ea;
                background-size: cover;
        }
    </style>
</head>

<body style="color:white">
    <h1 align="center">Create Picture</h1>

    <form action = '{% url 'fitnesspics:create' %}' method = 'post' enctype="multipart/form-data"> <!-- form to add picture -->
        {% csrf_token %}  <!-- security measure to prevent outside source from sending/taking data -->
        <p>Title: {{ form.title }}</p>
        <p>Slug: {{ form.slug }}</p> <!-- slug is used to create url that stores picture -->
        <p>Body: {{ form.body }}</p>
        <p>Thumb: {{ form.thumb }}</p>
        <p><input type="submit" value="Create"></p>
    </form>
</body>
{% endblock %}