<!-- name: accounts/templates/accounts/signup.html
# purpose: Frontend for sign up page
# date: 4/21/19
# author: Brady Whildin -->

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Signup</title>
<style>
body {
    background-repeat: no-repeat;
    background-color: black;
    background-size: cover;
}

@media (max-width: 900px) {
    body {
        font-size: 30px;
    }
}

@media (min-width: 900px) {
    body {
        background-image: url(/static/HomeBackground.jpg)
    }
}

</style>
</head>
<body>
<font color="white">
<h1>Signup</h1>
<p><img height = 350px src='https://media.giphy.com/media/icPNRvOrFFs2uUL1mV/giphy.gif'/> </p>
        <form class="site-form" action="/accounts/signup/" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" name="" value="Signup">
        </form></font>
</body>
</html>