<!-- name: articles/templates/articles/article_detail.html
purpose: Frontend for article detail
date: 6/3/19
authors: Nizom Djuraev, Brady Whildin -->

{% extends 'base_layouts.html' %}
{% block content %}

<ul>
  <li><a href="{% url 'homepage' %}">Home</a></li>
  <li><a href="{% url 'articles:list' %}" class="selected">Articles</a></li>
  <li><a href="{% url 'fitnesspics:data' %}">Pictures</a></li>
  <li style="float:right">
  {% if user.is_authenticated %}
      <form class="logout-link" action="{% url 'accounts:logout' %}" method = 'post'>
        {% csrf_token %}
        <button class='logoutButton' type="submit">Logout</button>
      </form>
  {% else %}
      <a href="{% url 'logInCreateAccount' %}">Log In/Create Account</a>
  {% endif %}
  </li>
</ul>

{% load static from staticfiles %}

<head>
<meta charset="utf-8">
<title>Articles</title>
<style>
@media (min-width: 900px) {
    body {
        background-image: url(/static/gymbackground.jpg)
    }
}

.body{
    width: 50%;
    margin: 20px 0px 0px 600px;
}

</style>
    </head>

<div class="body">
        <h1 align="center">{{ article.title }}</h1>
        <p>Author: {{ article.author }}</p>
        <p>{{ article.date }}</p>
        <hr>
        <p>{{ article.body|linebreaks }}</p>
        </div>
    </body>
{% endblock content %}




