<!-- name: templates/homepage.html
purpose: Frontend for homepage
date: 6/4/19
author: Brady Whildin, Jeremy Slaven -->

{% extends 'base_layouts.html' %}

{% block content %}

<ul>
  <li><a href="{% url 'homepage' %}" class="active">Home</a></li>
  <li><a href="{% url 'articles:list' %}">Articles</a></li>
  <li><a href="{% url 'fitnesspics:data' %}">Pictures</a></li>
  <li style="float:right">
    {% if user.is_authenticated %}
      <form class="logout-link" action="{% url 'accounts:logout' %}" method = 'post'>
        {% csrf_token %}
        <button class='logoutButton' type="submit">Logout</button>
      </form>
    {% else %}
      <a href="{% url 'logInCreateAccount' %}">Log In/Create Account</a>
    {% endif %}
  </li>
</ul>

<head>
    <meta charset="UTF-8">
    <title>Big Muscle</title>

<style>


.about{
    col-sm-6;
    color: white;
    font-size: 25px;
}

.font{
    font-size: 30px;
    font-family: "Verdana";
    color: white;
}

</style>
<style>
body {
		background-image: url(/static/HomeBackground.jpg);
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-position: 50% 5%;
		background-color: #e3e6ea;
		background-size: cover;
	}
</style>
</head>


<h1>
<body>
<div class="font">


    {% if user.is_authenticated %}
        Welcome, {{ user.username }}.
    {% endif %}



</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-5">
            <p><img src="https://media.giphy.com/media/icPNRvOrFFs2uUL1mV/giphy.gif" alt="Stick figure working out photo" class="img-responsive" style="width:100%"></p>
        </div>

        <div class="col-md-7" style="font-size:30px; color:white">
        <h2 align="center">About Big Muscle</h2>

            <p>Big Muscle is a website that brings together fitness-oriented individuals.</p>

            <p>The articles section displays fitness-related articles posted by users. The articles range from personal fitness stories to tips for a more successful fitness experience.</p>

            <p>The pictures section allows users to upload pictures. The pictures can be anything related to fitness, from healthy meals they cooked up to progress pictures.</p>

            <p>Use the nav bar to navigate to the various sections. To make full use of the website, create an account to allow for creating articles and adding pictures.</p>

        </div>

    </div>

</div>

</body>

{% endblock content %}